$light-blue-color: #666ca3;
$dark-blue-color: #13183f;
$gray-color: #83869a;
$pink-color: #f74780;
$light-pink-color: #ffa7c3;
$white-color: #ffffff;
$text-color: #83869a;
$bgcolor: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$card-color: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$body-ff: "Plus Jakarta Sans", sans-serif;
